@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*---------------------------Colors*/

body {
    background-color: #ffebc8;
}

.jumbotron {
    background-color: #1f0f05;
}

footer {
    background-color: #1f0f05;
}

/*---------------------------General*/

.body {
    font-family: "Noto Sans", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.spaced {
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

.container {
    padding: 0;
}

/*---------------------------Header*/

.nav {
    background-color: darkorange;
    font-family: "Noto Sans";
    font-weight: 500;
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
    margin: 5px 5px;
    padding: 0 5px;
    color: #1f0f05;
}

.nav-link:hover {
    color: #ffebc8;
}

/*---------------------------Footer*/

footer {
    color: #ffebc8;
}

#contact {
    font-family: "Noto Serif Display", sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-top: 15px;
}

.footer-subtitle {
    font-size: 1.25rem;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.footer-ul {
    list-style: none;
    margin-top: 10px;
}

.footer-menuitem {
    color: darkorange;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-menuitem:hover {
    color: #ffebc8;
    text-decoration: none;
}

.callme {
    color: darkorange;
    margin-right: 1px;
}

.callme:hover {
    color: #ffebc8;
}

.messenger {
    color: #0099ff;
}

.messenger:hover,
.whatsapp:hover {
    color: #ffebc8;
}

.whatsapp {
    color: #00b33c;
}

.no-padding-left {
    padding-left: 0;
}

.last-item {
    margin-bottom: 0;
}

/*---------------------------Jumbotron*/

.jumbotron {
    margin: 0 0 25px 0;
    width: 100%;
    background: url("../images/jumbotronbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #1f0f05;
    font-family: "Noto Sans", sans serif;
    padding: 48px 24px;
    border-radius: 0;
}

.jumbotron h1 {
    font-family: "Noto Serif Display", sans-serif;
    color: darkorange;
    margin-bottom: 25px;
}

.jumbotron p {
    color: darkorange;
}

.jumbo-text {
    padding-top: 15px;
    color: #1f0f05;
}

.jumbo-button {
    color: #1f0f05;
    background-color: darkorange;
    margin-left: 25px;
    border-radius: 4px;
}

.jumbo-button:hover {
    background-color: transparent;
    color: darkorange;
    border: 1px solid darkorange;

}

.picture {
    background: url("../images/man.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 300px;
    max-width: 300px;
    border: 4px solid darkorange;
    border-radius: 50%;
    overflow: hidden;
    visibility: hidden;
}

/*---------------------------About*/

#about {
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.about-me-subtitle {
    font-family: "Noto Serif Display", sans-serif;
    font-weight: 500;
}

.about-me {
    font-weight: 300;
    text-align: justify;
}

.page-nav {
    text-align: right;
}

.page-nav-item {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    color: darkorange;
    margin-right: 8px;
    background-color: #1f0f05;
    padding-top: 4px;
}

.page-nav-item:hover {
    background-color: #ffebc8;
    border: solid 1px #1f0f05;
    color: #1f0f05;
}

.page-nav-item i {
    font-size: smaller;
}

/*---------------------------Modal*/
.contact-heading {
    font-family: "Noto Serif Display", sans-serif;
    font-weight: 700;
    width: 95%;
}

.modal-content {
    background-color: #1f0f05;
    border-radius: 15px;
    min-height: 480px;
}

#modal-secondary-heading {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;

}

#myModal p {
    font-size: larger;
    color: #ffebc8;
    padding: 10px;
    margin-top: 10px;
}

.center-form {
    padding: 10px;
    margin-left: 25px;
    max-width: 90%;
}

form {
    padding: 5px;
}

form input[type=text] {
    padding-top: 5px;
    margin-top: 5px;
    background-color: #ffebc8;
    color: #1f0f05;
}

#projectsummary {
    margin-top: 10px;
    background-color: #ffebc8;
    color: #1f0f05;
}

.modal-button {
    margin-top: 15px;
    background-color: darkorange;
    color: #ffebc8;
}

.modal-button:hover {
    background-color: #ffebc8;
    color: darkorange;
}

.close {
    color: darkorange;
    text-shadow: 0 1px 0 #ffebc8;
}

.close:hover {
    color: #ffebc8;
    text-shadow: 0 1px 0 darkorange;
}

/*---------------------------Media Queries*/

@media (min-width: 768px) {

    .picture {
        visibility: visible;
    }

    .nav-link {
        text-transform: uppercase;
        margin: 5px 25px;
        padding: 0 20px;
        color: #1f0f05;
    }
}

@media (min-width: 1200px) {

    .nav-container {
        height: 300px;
        margin-left: 0;
    }

    .name-title {
        height: 300px;
        margin-top: 35px;
        padding-left: 25px;
    }

    .name,
    .title {
        text-align: left;
        margin-left: 0;
    }

    .menucontainer {
        margin: 10px 10px 0 0;
    }

    .menuitem {
        width: 70%;
        text-align: center;
        padding: 2px;
        margin-top: 2px;
    }

    .menuitem a {
        height: 35px;
    }

    .menuitem span {
        padding-top: 6px;
    }
}

@media (max-width: 410px) {

    .footer-ul {
        font-size: smaller;
    }
}

/*----------------------CreditedInReadme*/

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        color: darkorange
    }
}

@-webkit-keyframes blink-animation {
    to {
        color: darkorange;
    }
}