@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Noto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*---------------------------Colors*/

body {
    background-color: #ffebc8;
}

.name-title {
    background-color: #fdf5ec;
}

/*---------------------------General*/

.uppercase {
    text-transform: uppercase;
}

.spaced {
    letter-spacing: 2px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

/*---------------------------Header*/

#main-header {
    min-height: 300px;
}

.picture-container {
    height: 300px;
}

.picture {
    background: url("../images/man.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    align-items: center;
    overflow: hidden;
}

.heading {
    color: #1f0f05;
    max-height: 300px;
    margin-top: 30px;
}

.name-title {
    height: 220px;
}

.name {
    font-family: "Noto Sans", sans serif;
    font-weight: 100;
    font-size: 64px;
    text-align: center;
    margin: 0 20px;
}

.title {
    font-family: "Noto Serif", sans serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.nav-container {
    height: 240px;
}

.menucontainer {
    font-size: 0;
    padding-right: 10px;
    margin: 10px;
}

.menuitem {
    height: 60px;
    width: 90%;
    text-align: center;
    padding: 8px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #1f0f05;
    height: 60px;
}

.menuitem span {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 22px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: "Noto Sans", sans serif;
}

/*---------------------------Media Queries*/

@media (min-width: 768px) {

    .nav-container {
        height: 60px;
    }

    .name-title {
        height: 240px;
        margin-top: 10px;
        background-color: transparent;
    }

    .name {
        margin-top: 15px;
    }

    .title {
        margin-top: 25px;
    }
}

@media (min-width: 992px) {

    #nav {
        vertical-align: middle;
    }

    .nav-container {
        height: 300px;
    }

    .name-title {
        height: 300px;
        margin-top: 35px;
    }
}