@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*---------------------------Colors*/

body {
    background-color: darkorange;
}

.jumbotron {
    background-color: #1f0f05;
}

#about {
    background-image: linear-gradient(darkorange, #ffebc8, darkorange);
}

#resume {
    background-image: linear-gradient(darkorange, #ffebc8, darkorange);
}

#more {
    background-image: linear-gradient(darkorange, #ffebc8, darkorange);
}

footer {
    background-color: #1f0f05;
}

.moment-body {
    background-color: #1f0f05;
}

/*---------------------------General*/

html {
    scroll-behavior: smooth;
}
  
.body {
    font-family: "Noto Sans", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.spaced {
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

.container {
    padding: 0;
}

/*---------------------------Header*/

header {
    border-bottom: 2px solid #1f0f05;
}

.nav {
    background-color: darkorange;
    font-family: "Noto Sans";
    font-weight: 500;
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
    margin: 5px 5px;
    padding: 0 5px;
    color: #1f0f05;
}

.nav-link:hover {
    color: #ffebc8;
}

.hvr-underline-from-center::before {
    background-color: #1f0f05;
}

/*---------------------------Footer*/

footer {
    color: #ffebc8;
    padding: 25px 5px;
}

.footer-subtitle {
    font-size: 1.25rem;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.footer-ul {
    list-style: none;
    margin-top: 10px;
}

.footer-menuitem {
    color: darkorange;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-menuitem:hover {
    color: #ffebc8;
    text-decoration: none;
}

.callme {
    color: darkorange;
    margin-right: 1px;
}

.callme:hover {
    color: #ffebc8;
    text-decoration: none;
}

.telegram {
    color: #0099ff;
}

.telegram:hover,
.whatsapp:hover {
    color: #ffebc8;
}

.whatsapp {
    color: #00b33c;
}

.no-padding-left {
    padding-left: 0;
}

.last-item {
    margin-bottom: 0;
}


/*------------------Sections-----------*/

.section-border {
    border: 2px solid #1f0f05;
    background-color: #1f0f05;
    border-radius: 15px;
    box-shadow: 0 0 8px 4px #ffebc8;
    margin: 16px;
    padding: 12px 2px;
}

.section-title {
    font-family: "Noto Serif Display", sans-serif;
    font-size: 44px;
    color: darkorange;
}

/*--------------------JumbotronSection*/

.picture-container {
    display: grid;
    justify-content: center;
    vertical-align: middle;
}

.picture {
    background: url("../images/ab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border: 4px solid darkorange;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.heading {
    display: grid;
    justify-content: center;
    vertical-align: middle;
}

.jumbotron {
    margin: 0;
    width: 100%;
    background: url("../images/jumbotronbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #1f0f05;
    font-family: "Noto Sans", sans serif;
    padding: 48px 24px;
    border-radius: 0;
}

.jumbotron h1 {
    font-family: "Noto Serif Display", sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: darkorange;
    text-align: center;
    display: block;
    margin-top: 25px;
}

.desc {
    color: darkorange;
    display: block;
}

.jumbo-button {
    color: #1f0f05;
    background-color: darkorange;
    margin: 15px auto 0 auto;
    width: 150px;
    height: 55px;
    border-radius: 4px;
}

.jumbo-button:hover {
    background-color: transparent;
    color: darkorange;
    border: 1px solid darkorange;
}

/*--------------------AboutSection*/

#about {
    margin: 0 4px;
    padding: 8px 3px;
    border-left: 2px solid #1f0f05;
    border-right: 2px solid #1f0f05;
}

.about-me-subtitle {
    font-family: "Noto Serif Display", sans-serif;
    color: darkorange;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-me {
    font-family: "Noto Sans", sans-serif;
    color: #ffebc8;
    font-weight: 300;
    padding: 2px 12px;
    font-size: 16px;
    text-align: justify;
}

.page-nav {
    text-align: right;
}

.page-nav-item {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    color: #ffebc8;
    margin-right: 8px;
    background-color: #1f0f05;
    padding-top: 4px;
}

.page-nav-item:hover {
    color: darkorange;
}

.page-nav-item i {
    font-size: smaller;
}


/*--------------------ResumeSection*/

#resume { 
    margin: 0 4px;
    padding: 8px 3px;
    border-left: 2px solid #1f0f05;
    border-right: 2px solid #1f0f05;
}

.moments-container {
    display: flex;
    padding: 4px; 
    margin: auto;
    width: 90%;
}

.moment-body {
    padding: 15px 25px 0 20px;
    height: 300px;
    width: 100%;
    border: 1px solid #1f0f05;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 darkorange;
    display: grid;
    align-content:space-around;
    vertical-align: middle;
    align-items: center;
}

.moment-title {
    font-weight: 700;
    font-size: 20px;
    color: #ffebc8;
    font-family: "Noto Sans";
    display: inline-block;
    width: 100%;
}

.moment-type {
    font-weight: 200;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.moment-text {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    color: darkorange;
    font-family: "Noto Sans";
}

.moment-link {
    background-color: #1f0f05;
    color: darkorange;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid darkorange;
    display: block;
    padding: 0 15px;
    margin: 12px auto;
    text-align: center;
    width: 75%;
}

.moment-link:hover {
    color: #ffebc8;
    text-decoration: none;
}

/*------------------MoreSection*/

#more {
    margin: 0 4px;
    padding: 8px 3px;
    border-left: 2px solid #1f0f05;
    border-right: 2px solid #1f0f05;
}

.more-container {
    display: inline-block;
    padding: 4px; 
    margin: auto;
    text-align: justify;
}

.more-text {
    font-family: "Noto Sans", sans-serif;
    color: #ffebc8;
    font-weight: 300;
    padding: 2px 12px;
    font-size: 16px;
    text-align: justify;
}

.more-link {
    color: #ffebc8;
    text-decoration: none;
}

.more-link:hover {
    color: darkorange;
}

.more-pictures {
    text-align: center;
}

.more-picture {
    margin: 12px auto;
    box-shadow: 1px 1px 6px 2px #ffebc8;
}

.img-fluid {
    max-width: 95%;
}

/*---------------------------Modal*/

.contact-heading {
    font-family: "Noto Serif Display", sans-serif;
    font-weight: 700;
    width: 95%;
}

.modal-content {
    background-color: #1f0f05;
    border-radius: 15px;
    min-height: 480px;
}

#modal-secondary-heading {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;

}

#myModal p {
    font-size: larger;
    color: #ffebc8;
    padding: 10px;
    margin-top: 10px;
}

.center-form {
    padding: 10px;
    margin-left: 25px;
    max-width: 90%;
}

form {
    padding: 5px;
}

form input[type=text] {
    padding-top: 5px;
    margin-top: 5px;
    background-color: #ffebc8;
    color: #1f0f05;
}

#projectsummary {
    margin-top: 10px;
    background-color: #ffebc8;
    color: #1f0f05;
}

.modal-button {
    margin-top: 15px;
    background-color: darkorange;
    color: #ffebc8;
}

.modal-button:hover {
    background-color: #ffebc8;
    color: darkorange;
}

.close {
    color: darkorange;
    text-shadow: 0 1px 0 #ffebc8;
}

.close:hover {
    color: #ffebc8;
    text-shadow: 0 1px 0 darkorange;
}

/*---------------------------Media Queries*/

@media (min-width: 768px) {
#about,
#resume,
#more {
    margin: 0 24px;
}

    .picture {
        display: block;
    }

    .nav-link {
        text-transform: uppercase;
        margin: 5px 25px;
        padding: 0 20px;
        color: #1f0f05;
    }

    .jumbotron h1 {
        font-size: 72px;
    }

    .desc {
        font-size: 24px;
    }

    .moment-body {
        padding: 15px 4px;
        margin-top: 25px;
    }
    
    .moment-title {
        font-weight: 700;
        font-size: 20px;
        padding-top: 15px;
    }
    
    .moment-text {
        padding: 10px 14px;
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
    }
}

@media (min-width: 992px) {

    .last-item {
        display: none;
    }
    
    .section {
        margin: 24px;
        padding: 18px 12px;
    }
    
    .jumbotron {
        height: 550px;
    }

    .heading {
        height: 370px;
    }

    .jumbotron h1 {
        font-size: 96px;
    }

    .desc {
        font-size: 26px;
    }

    .jumbo-button {
        font-size: 26px;
        height: 66px;
        width: 200px;;
    }
}

@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 114px;
    }
    
    .desc {
        font-size: 30px;
    }

    .jumbo-button {
        font-size: 32px;
        height: 75px;
        width: 230px;;
    }

    .moment-text {
        font-size: 14px;
    }
}

@media (min-width: 1600px) {
    .moment-text {
        font-size: 18px;
    }

    .desc {
        font-size: 32px;
    }

    .jumbotron h1 {
        font-size: 148px;
    }
}

@media (max-width: 410px) {

    .footer-ul {
        font-size: smaller;
    }
}

